.ticket{
    width: 70rem;
    height: 20rem;
    background-image: url('../../assets/1920_dubai-2.jpg');
    
    border-radius: 250px;
    margin-top: 5%;
}
.ticketForm{
    margin-left:20% ;
    margin-top: 2%;
}
.fontih{
    color: rgb(46, 46, 114);
    font-size: 55px;
}
.fontip1{
    font-size: 25px;
    color: rgb(155, 6, 6);
    margin-left: 7%;
}
.fonti{
    font-size: 20px;
    color: rgb(55, 0, 131);
    margin-left: 13%;
}
.ticketButton{
    margin-left: 25%;
    width: 13rem;
    border-radius: 250px;
}
.sort-buttons{
    padding: 0.7rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0.5rem;
    
}
.sort-buttons:hover{
    background-color: #555;
}