.ticket{
    width: 70rem;
    height: 20rem;
    background-image: url('../../assets/1920_dubai-2.jpg');
    margin-left: 7%;
    border-radius: 250px;
    margin-top: 5%;
}
.ticketForm{
    margin-left:20% ;
    margin-top: 2%;
}
.fontih{
    color: rgb(46, 46, 114);
    font-size: 55px;
}
.fontip1{
    font-size: 25px;
    color: rgb(155, 6, 6);
    margin-left: 7%;
}
.fonti{
    font-size: 20px;
    color: rgb(55, 0, 131);
    margin-left: 13%;
}
.ticketButton{
    margin-left: 25%;
    width: 13rem;
    border-radius: 250px;
}
.sort-buttons{
    padding: 0.7rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0.5rem;
    
}
.sort-buttons:hover{
    background-color: #555;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .search-bar{
    margin-right: 300px;
  }
  .modal-contenti {
   
    background-image:url('.././../assets/1920_dubai-2.jpg');
    opacity: 4;
 
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .modal-title-divi {
    display: flex;
    width: 100%;
    justify-content: center;
   
  }
  
  .modal-titlee {
    font-size: 35px;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .modal-forma .form-groupi {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 35%;
  }
  
  .modal-forma label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
   color: #25a1b4;
  }
  
  .inputi {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-forma button {
    padding: 10px 100px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6%;
   
  }