.footer {
   
    padding: 40px 0;
    background-color: rgb(3, 8, 74);
    margin-top: 5%;
  }
  
  .containerFooter {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
   
  }
  
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    margin-left: 10%;
  }
  
  .footer__section {
    flex-basis: 30%;
    margin-bottom: 30px;
   
  }
  
  .footer__section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
  }
  
  .footer__section-text {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
  }
  
  .footer__social-icons {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .footer__social-link {
    color: #666;
    margin-right: 10px;
    font-size: 20px;
    color: white;
  }
  
  .footer__bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer__bottom-text {
    font-size: 12px;
    color: #ffffff;
    margin-right: 3%;
  }
  
  /* Add any additional styling or modifications as per your requirements */
  